@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw !important;
  height: 100vh !important;
}

.canvas {
  width: 100vw !important;
  height: 100vh !important;
}
body {
  margin: 0;
  background-color: #e0f0f9; /* Light bluish-gray */
  background-image: linear-gradient(
    19deg,
    #b0c4de 0%,
    #e0f0f9 100%
  ); /* Light blue gradient with a gray touch */
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}
